# Variables d'environnement pour TranspoBot Mobile

# API Backend URL (adapter selon votre environnement)
EXPO_PUBLIC_API_URL=http://192.168.1.100:8000/api

# Mode de développement
EXPO_PUBLIC_ENV=development

# Version
EXPO_PUBLIC_VERSION=1.0.0
